In [2]:
import pandas as pd

In [28]:
player_keepers = pd.read_csv("Data/FIFA World Cup 2022 Player Data/player_keepers.csv")
player_keepersadv = pd.read_csv("Data/FIFA World Cup 2022 Player Data/player_keepersadv.csv")
player_defense = pd.read_csv("Data/FIFA World Cup 2022 Player Data/player_defense.csv")
player_stats = pd.read_csv("Data/FIFA World Cup 2022 Player Data/player_stats.csv")
player_misc = pd.read_csv("Data/FIFA World Cup 2022 Player Data/player_misc.csv")
player_gca = pd.read_csv("Data/FIFA World Cup 2022 Player Data/player_gca.csv")
player_passing = pd.read_csv("Data/FIFA World Cup 2022 Player Data/player_passing.csv")
player_shooting = pd.read_csv("Data/FIFA World Cup 2022 Player Data/player_shooting.csv")
player_possession = pd.read_csv("Data/FIFA World Cup 2022 Player Data/player_possession.csv")
player_defense.head()

,player,position,team,age,birth_year,minutes_90s,tackles,tackles_won,tackles_def_3rd,tackles_mid_3rd,...,dribbles_vs,dribble_tackles_pct,dribbled_past,blocks,blocked_shots,blocked_passes,interceptions,tackles_interceptions,clearances,errors
0,Aaron Mooy,MF,Australia,32-094,1990,4.0,9.0,6,4.0,4.0,...,8.0,75.0,2.0,6.0,4.0,2.0,3,12.0,9.0,0.0
1,Aaron Ramsey,MF,Wales,31-357,1990,3.0,2.0,0,0.0,2.0,...,2.0,0.0,2.0,4.0,1.0,3.0,0,2.0,2.0,1.0
2,Abdelhamid Sabiri,MF,Morocco,26-020,1996,2.0,3.0,1,1.0,2.0,...,6.0,33.3,4.0,3.0,1.0,2.0,5,8.0,3.0,0.0
3,Abdelkarim Hassan,DF,Qatar,29-112,1993,3.0,7.0,3,5.0,2.0,...,4.0,75.0,1.0,3.0,1.0,2.0,1,8.0,5.0,0.0
4,Abderrazak Hamdallah,FW,Morocco,32-001,1990,0.8,0.0,0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0,0.0,2.0,0.0

In [21]:
defenders_data = player_defense[player_defense['position'] == 'DF'][['player', 'age', 'minutes_90s', 'team', 'position', 'tackles',
 'tackles_won', 'dribble_tackles_pct', 'blocked_passes', 'blocked_shots']]
defenders_data = pd.merge(defenders_data, player_stats[['player', 'club']], on='player', how='left')
defenders_data = pd.merge(defenders_data, player_misc[['player', 'aerials_won_pct']], on='player', how='left')
defenders_data = pd.merge(defenders_data, player_passing[['player', 'passes_pct']], on='player', how='left')
defenders_data['tackles'] = defenders_data['tackles_won'] / defenders_data['tackles'].replace(0, 1)
defenders_data['blocked_passes'] = defenders_data['blocked_passes'] / defenders_data['minutes_90s'].replace(0, 1)
defenders_data['blocked_shots'] = defenders_data['blocked_shots'] / defenders_data['minutes_90s'].replace(0, 1)
defenders_data = defenders_data.drop(columns=['tackles', 'tackles_won'])

In [40]:
defenders_data.head()

,player,age,minutes_90s,team,position,dribble_tackles_pct,blocked_passes,blocked_shots,club,aerials_won_pct,passes_pct
0,Abdelkarim Hassan,29-112,3.0,Qatar,DF,75.0,0.666667,0.333333,Al Sadd SC,75.0,75.8
1,Abdou Diallo,26-228,3.7,Senegal,DF,100.0,0.000000,0.270270,RB Leipzig,53.8,74.7
2,Abdulelah Al-Amri,25-337,2.0,Saudi Arabia,DF,0.0,0.500000,0.500000,Al-Nassr,71.4,71.2
3,Abdullah Madu,29-156,0.5,Saudi Arabia,DF,NaN,2.000000,4.000000,Al-Nassr,50.0,38.5
4,Abolfazl Jalali,24-175,0.2,IR Iran,DF,NaN,0.000000,0.000000,Esteghlal,NaN,69.0

In [26]:
midfielders_data = player_defense[player_defense['position'] == 'FW'][['player', 'age', 'minutes_90s', 'team', 'position', 'tackles', 
'tackles_won', 'interceptions']]
midfielders_data = pd.merge(midfielders_data, player_stats[['player', 'club', 'goals_assists_per90']], on='player', how='left')
midfielders_data = pd.merge(midfielders_data, player_passing[['player', 'passes_pct']], on='player', how='left')
midfielders_data = pd.merge(midfielders_data, player_possession[['player', 'dribbles_completed_pct']], on='player', how='left')
midfielders_data = pd.merge(midfielders_data, player_gca[['player', 'sca_per90']], on='player', how='left')
midfielders_data['tackles'] = midfielders_data['tackles_won'] / midfielders_data['tackles'].replace(0, 1)
midfielders_data['interceptions'] = midfielders_data['interceptions'] / midfielders_data['minutes_90s'].replace(0, 1)

midfielders_data = midfielders_data.drop(columns=['tackles_won'])

In [39]:
midfielders_data.head()

,player,age,minutes_90s,team,position,tackles,interceptions,club,goals_pens_per90,passes_pct,dribbles_completed_pct,sca_per90
0,Aaron Mooy,32-094,4.0,Australia,MF,0.666667,0.750000,Celtic,0.0,78.3,66.7,1.25
1,Aaron Ramsey,31-357,3.0,Wales,MF,0.000000,0.000000,Nice,0.0,78.6,25.0,1.02
2,Abdelhamid Sabiri,26-020,2.0,Morocco,MF,0.333333,2.500000,Sampdoria,0.0,77.6,0.0,2.40
3,Abdulaziz Hatem,32-051,2.2,Qatar,MF,1.000000,0.454545,Al Rayyan SC,0.0,79.1,100.0,0.92
4,Abdulellah Al-Malki,28-068,1.9,Saudi Arabia,MF,0.333333,1.052632,Al-Hilal,0.0,78.6,NaN,1.03

In [33]:
attackers_data = player_defense[player_defense['position'] == 'MF'][['player', 'age', 'minutes_90s', 'team', 'position', 'tackles_interceptions']]
attackers_data = pd.merge(attackers_data, player_stats[['player', 'club', 'goals_assists_per90']], on='player', how='left')
attackers_data = pd.merge(attackers_data, player_passing[['player', 'passes_pct']], on='player', how='left')
attackers_data = pd.merge(attackers_data, player_gca[['player', 'sca_per90']], on='player', how='left')
attackers_data = pd.merge(attackers_data, player_possession[['player', 'dribbles_completed_pct']], on='player', how='left')
attackers_data = pd.merge(attackers_data, player_shooting[['player', 'shots_on_target_pct']], on='player', how='left')
attackers_data['tackles_interceptions'] = attackers_data['tackles_interceptions'] / attackers_data['minutes_90s'].replace(0, 1)

In [38]:
attackers_data.head()

,player,age,minutes_90s,team,position,tackles_interceptions,club,goals_assists_per90,passes_pct,sca_per90,dribbles_completed_pct,shots_on_target_pct
0,Aaron Mooy,32-094,4.0,Australia,MF,3.000000,Celtic,0.0,78.3,1.25,66.7,0.0
1,Aaron Ramsey,31-357,3.0,Wales,MF,0.666667,Nice,0.0,78.6,1.02,25.0,0.0
2,Abdelhamid Sabiri,26-020,2.0,Morocco,MF,4.000000,Sampdoria,0.5,77.6,2.40,0.0,0.0
3,Abdulaziz Hatem,32-051,2.2,Qatar,MF,0.909091,Al Rayyan SC,0.0,79.1,0.92,100.0,100.0
4,Abdulellah Al-Malki,28-068,1.9,Saudi Arabia,MF,2.631579,Al-Hilal,0.0,78.6,1.03,NaN,0.0

In [35]:
keepers_data = player_keepers[['player', 'team', 'age', 'club', 'position', 'minutes_90s', 'gk_clean_sheets_pct',
 'gk_save_pct', 'gk_pens_save_pct']]
keepers_data = pd.merge(keepers_data, player_keepersadv[['player', 'gk_passes_pct_launched', 'gk_crosses_stopped_pct']], on='player', how='left')
keepers_data = pd.merge(keepers_data, player_passing[['player', 'passes_pct']], on='player', how='left')

In [37]:
keepers_data.head()

,player,team,age,club,position,minutes_90s,gk_clean_sheets_pct,gk_save_pct,gk_pens_save_pct,gk_passes_pct_launched,gk_crosses_stopped_pct,passes_pct
0,Aimen Dahmen,Tunisia,25-324,CS Sfaxien,GK,3.0,66.7,90.0,NaN,36.6,0.0,62.3
1,Alireza Beiranvand,IR Iran,30-088,Persepolis,GK,1.2,0.0,80.0,NaN,31.3,0.0,64.5
2,Alisson,Brazil,30-077,Liverpool,GK,4.2,50.0,71.4,NaN,35.7,0.0,86.0
3,Andries Noppert,Netherlands,28-255,Heerenveen,GK,5.3,40.0,86.4,0.0,40.0,9.5,81.8
4,AndrÃ© Onana,Cameroon,26-260,Inter,GK,0.9,0.0,66.7,NaN,30.0,0.0,76.3